@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900; 
  font-display: swap;
}

@layer base {
  body {
    font-family: 'Rubik', sans-serif; 
  }
}


.tarjeta {
  @apply rounded-xl h-52 bg-Dark-blue flex flex-col justify-start relative mb-4 xl:col-span-3 xl:row-span-1 md:col-span-3 md:row-span-1;
  
}
.img__arriba {
  
  @apply  justify-end flex h-24 w-full;
  
}
.work{
  @apply bg-Light-red_W;
}
.play{
  @apply bg-Soft-blue;
}
.study{
  @apply bg-Light-red
  ;
}
.exercise{
  @apply bg-Lime-green;
}
.social{
  @apply bg-Violet;
}
.self-care{
  @apply bg-Soft-orange;
}

.tarjeta_info{
  
  @apply bg-Dark-blue h-36 w-full absolute bottom-0 left-0 rounded-xl p-4;
}